body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}


/* Mediaquerie's Breakpoints */

/* Extra Small Devices */
@media (max-width: 576.98px) {
  .bord {
    border:1px solid black;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .bord{
    border: 1px solid brown;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .bord{
    border: 1px solid blue;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .bord{
    border: 1px solid green;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .bord{
    border: 1px solid yellow;
  }
}