:root {
  --bg-black-color: #161616;
  --bg-red-color: #AC1F17;
  --bg-blue-color: #0C102E;
}

body {
  width: 100vw;
  height: 100vh;
  /* overflow-x: hidden; */
  background: var(--bg-black-color);
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 21px;
}

.yo-wrap-container {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 10%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}

.header-menu {
  margin-right: 50px;
}

.header-menu-toggle {
  cursor: pointer;
}

.header-menu-burger {
  width: 40px;
  border: .5px solid #fff;
}

.header-menu-burger:nth-of-type(1), 
.header-menu-burger:nth-of-type(2) {
  margin-bottom: 4px;
}

.header-menu-burger:nth-of-type(2) {
  width: 33px !important;
}

.header-menu-burger:nth-of-type(3) {
  width: 24px !important
}

.slide-buttons {
  width: 100%;
  height: 10%;
  position: fixed;
  left: 0;
  top: 47%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.slide-buttons-left {
  margin-left: 50px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5;
  -o-transition: .5;
}

.slide-buttons-right {
  margin-right: 50px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5;
  -o-transition: .5;
}

.slide-buttons[current-pos="home"] .slide-buttons-left {
  pointer-events: none;
  opacity: 0;
  transform: scale(.4);
  -webkit-transform: scale(.4);
  -ms-transform: scale(.4);
  -moz-transform: scale(.4);
}

.slide-buttons[current-pos="gaming"] .slide-buttons-right {
  pointer-events: none;
  opacity: 0;
  transform: scale(.4);
  -webkit-transform: scale(.4);
  -ms-transform: scale(.4);
  -moz-transform: scale(.4);
}

.main-content {
  width: 100%;
  height: 100%;
}

.main-content-panel {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  overflow-y: scroll;
}

.visibility-container {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  transition: .6s ease-in;
  -webkit-transition: .6s ease-in;
  -moz-transition: .6s ease-in;
  -o-transition: .6s ease-in;
  transition-delay: .4s;
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
}

.active {
  opacity: 0;
}

.home {
  overflow: hidden;
}

.design {
  background: var(--bg-red-color);
  top: 0%;
  left: 100%;
}

.develop {
  background: var(--bg-blue-color);
  top: 0%;
  left: 100%;
}

.gaming {
  background: var(--bg-black-color);
  top: 0%;
  left: 100%;
}

.container-title {
  width: 40%;
  margin-left: 18%;
}

.main-title {
  font-size: 72px;
  color: white;
  text-transform: uppercase;
}

.svg-hl {
  width: 50%;
  margin-left: 18%;
}

.main-content-scroll {
  width: 70%;
  height: 80%;
  background: #fff;
  position: absolute;
  top: 90%;
  transition: .4s;
  transition-timing-function: ease-in;
}

.footer {
  width: 100%;
  height: 10%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
}

.footer-social .footer-icon:nth-of-type(3) {
  padding-top: 4px;
}

.footer-langs {
  width: 60px;
  justify-self: end;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 50px;
}

.footer-langs .footer-icon:nth-of-type(2) {
  margin-left: 10px;
}

/*


.main-content {
  height: 100%;
  width: 100%;
  position: relative;
}

.main-content-panel {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}

.visibility-container {
  background-color: black;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  transition-delay: .3s;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
}

.active {
  opacity: 0;
}

.container-title {
  width: 40%;
  margin-left: 300px;
}

.main-title {
  font-size: 72px;
  color: white;
  text-transform: uppercase;
}

.home {
  background-color: var(--bg-black-color);
  z-index: 1;
}

.svg-hl {
  width: 600px;
}

.design {
  background-color: var(--bg-red-color);
  left: 100%;
  top: 0;
  z-index: 2;
}

.design-scroll {
  top: 50%;
  left: 3%;
}

.develop {
  background-color: var(--bg-blue-color);
  z-index: 3;
  left: 100%;
  top: 0;
}

.develop-scroll {
  right: 3%;
  top: -80%;
}

.gaming {
  background-color: #161616;
  z-index: 4;
  left: 100%;
  top: 0;
}

.gaming-scroll {
  left: 100%;
  top: 15%;
}

.main-content-scroll {
  width: 75%;
  height: 80%;
  position: absolute;
  background: #ffffff;
}

.main-content-text {
  width: 70%;
  margin-left: 30px;
  margin-top: 30px;
}


.bord {
  border: 1px solid red;
}

/* Keyframes animations */

@keyframes hide-button {
  from {}
  to {
    opacity: 0;
    transform: scale(.4) translateY(10px);
    pointer-events: none;
  }
}

/* Mediaquerie's Breakpoints */

/* Extra Small Devices */
@media (max-width: 576.98px) {
  .bord {
    border:1px solid black;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .bord{
    border: 1px solid brown;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .bord{
    border: 1px solid blue;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .bord{
    border: 1px solid green;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .bord{
    border: 1px solid yellow;
  }
}